blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}

.ql-container{
    min-height: 250px;
}

#SPAN_1 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.65);
    display: table-cell;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 32.0586px;
    left: 0px;
    line-height: 14px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.65);
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 64.3357px;
    column-rule-color: rgba(0, 0, 0, 0.65);
    perspective-origin: 32.1678px 16.0293px;
    transform-origin: 32.1678px 16.0293px;
    caret-color: rgba(0, 0, 0, 0.65);
    background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0.994318px solid rgb(217, 217, 217);
    border-right: 0px none rgba(0, 0, 0, 0.65);
    border-bottom: 0.994318px solid rgb(217, 217, 217);
    border-left: 0.994318px solid rgb(217, 217, 217);
    border-radius: 4px 0 0 4px;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0.65) none 0px;
    padding: 0px 11px;
    transition: all 0.3s ease 0s;
}/*#SPAN_1*/

#SPAN_1:after {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.65);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 14px;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.65);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgba(0, 0, 0, 0.65);
    caret-color: rgba(0, 0, 0, 0.65);
    border: 0px none rgba(0, 0, 0, 0.65);
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0.65) none 0px;
}/*#SPAN_1:after*/

#SPAN_1:before {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.65);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 14px;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.65);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgba(0, 0, 0, 0.65);
    caret-color: rgba(0, 0, 0, 0.65);
    border: 0px none rgba(0, 0, 0, 0.65);
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0.65) none 0px;
}/*#SPAN_1:before*/

